{%  extends 'back2.html.twig' %}

{% block body %}

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Liste des notifications</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Action</th>
                                <th>Title</th>
                                <th>Date</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for notif in notifications %}
                            <tr>
                                <td>{{ notif.id }}</td>
                                <td>{{ notif.title }}</td>
                                <td>{{ notif.description }}</td>
                                <td> {{ notif.date|date }}</td>


                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}