{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <td><a href="{{ path('test_homepage') }}" >Home</a></td>
{% endblock fos_user_content %}
