{% trans_default_domain 'FOSUserBundle' %}

<div class="products-catagories-area clearfix">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <div class="white-box">
                <br>

                <div class="row">
                    <div class="col-sm-12 col-xs-12">


                        <div class="form-group">
                            <br> <br> <br>
                            <div class="environment-fancy-title"><h2>Veuillez remplir  le  <span>formulaire</span></h2></div>
                            <br> <br> <br>

                            <div class="container center_div">
                                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                                {{ form_widget(form) }}
                                <div>
                                    <input type="submit" value="{{ 'registration.submit'|trans }}" />
                                </div>
                                {{ form_end(form) }}

                            </div>
                            <div class="col-md-3"></div>
                        </div>

                    </div></div>
            </div>
        </div>
    </div>
</div>


</div>